.color-primary-0 { color: #42E9BB }	/* Main Primary color */
.color-primary-1 { color: #97FFE2 }
.color-primary-2 { color: #66FAD1 }
.color-primary-3 { color: #2AC096 }
.color-primary-4 { color: #257C64 }

.color-secondary-1-0 { color: #47BFE7 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #9BE6FF }
.color-secondary-1-2 { color: #6CD6F9 }
.color-secondary-1-3 { color: #2F97BA }
.color-secondary-1-4 { color: #266377 }

.color-secondary-2-0 { color: #44EF71 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #97FFB3 }
.color-secondary-2-2 { color: #67FB8E }
.color-secondary-2-3 { color: #29AA49 }
.color-secondary-2-4 { color: #2A8E44 }

body {
  background: url('../img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  /* margin-top: 75px;  */
  font-size: 1em;
  font: "Raleway" ;
  font-weight: 400;
  padding-top: 75px;
  }

section {
  margin-bottom: 30px;
}

hr {
  border: 0;
  border-top: 1px solid;
  width: 70%;
}

a:hover {
  text-decoration:none;
  color: #266377;
}

.innerborder {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu';
}

h5 {
  font-size: 1.1em;
}

#main-footer {
  background: #257C64;
}
  
    .navbar {
      box-shadow: 2px 2px 5px #257C64;
      opacity: 0.9;
      background: #fff;}
    .navbar .nav-item{
      font-size: 1.4rem;
      padding-right: 1.4rem;}
    .navbar-brand .nav-link{
      color: #ddd;
    }
    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
      color: #257C64;
    }
  
  #showcase {
    position: relative;
  }

  #showcase p {
    font: "Raleway" ;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 2px;
  }

      .carousel-item {
        height: 450px;
      }

      .carousel-graphism {
        height: auto;
      }
      
      .carousel-image-1 {
        background: url('../img/info.jpg');
        background-size: cover;
      }
      
      .carousel-image-2 {
        background: url('../img/teapot.jpg');
        background-size: cover;
      }
      
      .carousel-image-3 {
        background: url('../img/brush.jpg');
        background-size: cover;
      }

    /* ABOUT ME */
    #about {
      background: rgb(40,40,40);
      padding-top: 75px;
      margin-top: -75px;
      -webkit-background-clip: content-box;
      background-clip: content-box;
    }

    #about .nav-link:hover {
      color: #266377;
    }

    #about .nav-link {
      color: #2F97BA;
      font-weight: 300;
      font-size: 1.5em;
    }


    /* PROJECTS */
    #projects {
      background: rgb(40,40,40);
      padding-top: 75px;
      margin-top: -75px;
      -webkit-background-clip: content-box;
      background-clip: content-box;
    }

    #img-project {
      background: white;
    }

    .btn-outline-light {
      border-color: #97FFE2;
    }
    
    #projects a:hover {
      color: #257C64;
    }

    #header-project {
      background-color: #257C64;
    }

    .btn-read-more {
      color: #257C64;
      background: rgb(50,50,50);
      border: solid;
      border-radius: 50%;
      margin: 0 auto;
    }

    .btn-read-more:hover {
      color: white;
      background: #2AC096;
    }
  
    /* GRAPHISME */
  #graphism {
    background: rgb(40,40,40);
    padding-top: 75px;
    margin-top: -75px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
  }

  #graphism a:hover {
    color: #2A8E44;
  }

  #header-graphism {
    background-color: #2A8E44;
  }

  /* Modal popup for image visualisation */
  .ekko-lightbox-container {
    background: #121212;
  }

.carousel-control-prev1,
.carousel-control-next1 {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  color: #fff;
  text-align: center;
  opacity: 0.5; }
  .carousel-control-prev1:hover, .carousel-control-prev1:focus,
  .carousel-control-next1:hover,
  .carousel-control-next1:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9; }

.carousel-control-prev1 {
  left: -9%; }

.carousel-control-next1 {
  right: -9%; }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .card-container {
    padding: 10px;
  }

  .card {
    overflow: hidden;
  }

  .card-body {
    border: solid 1px #29AA49;
    padding: 0.5em;
  }

  .thumbnail:hover {
    opacity: 0.7 ;
  }

  .thumbnail {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    transition: .3s ease;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }


  @media (max-width: 1080px) {
    #showcase {
      font-size: 1rem;}
      #showcase h1 {
        font-size: 4rem; }
      #navbarCollapse a {
        font-size: 1rem;
      }

      }


  @media (max-width: 768px) {
    #showcase {
      min-height: 500px; 
      font-size: 0.8rem;}
      #showcase h1 {
        font-size: 3rem; }

    

  
    .mb-resp {
      margin-bottom: 1rem; } }
  